body {
    margin: 0;
    font-family: Tahoma;
    }
div {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; 
    }
p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 28px;
    width: 980px;
    text-align: justify;
}
.primeira {
    background-color: #afddfb;
    }

.primeira img {
    width: 150px;

}

.primeira p {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 25px;
    
}
.primeira a {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
    
}

.segunda {
    margin-top: 50px;
    padding-top: 0;
    
}

span {
    font-weight: bold;

}

#sobre h1{
    color: #1d1d1d;
    margin-bottom: 5px;
    
}

#sobre h2 {
    color: #1c81c0;
    margin-top: 0;
    font-weight: normal;
    
}

#sobre img {
    width: 450px;
    
}

#sobre span {
    color: #1d80c1;
    
}

#serviços {
    background-color: #1d80c1;
    color: #ffffff;
    
}

#serviços h2{
    font-size: 28px;
    line-height: 42px;
    
}

#serviços p {
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
    
}

#serviços span {
    color: #fff81b;
    
}

#serviços ul {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 135px;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
    
}

#corretores h2 {

    font-size: 28px;
    line-height: 42px;
    color: #1c81c0;

}

#corretores img {
    width: 450px;

}

#corretores span {
    color: #1d80c1;

}

#corretores p {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 25px;
}

#contato {
    background-color: #1d80c1;

}

#contato h2 {
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;

}

iframe {
    width: 650px;
    height: 300px;
    }

#contato p{
    color: #ffffff;
    background-color: black;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;

}

#contato span {
    color: #fff81b;
    
}

#contato ul{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    width: 210px;
   
}

#contato li {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;

}

#contato a{
    background-color: white;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;

}

